/* .tblEstilo{
    border-collapse: collapse;
    border: 2px solid #ccc;
    margin: 0 auto;

    .tblHeader{
        background-color: dimgray;
        border:2px solid #ccc;
    }

    .tblData{
        border:2px solid gray;
    }

    .tblLine{
        background-color: #ccc;
        &:hover{
            background-color:#b0acac ;
        }
    }
} */

.tblEstilo{
    border-collapse: collapse;
    border: 2px solid #ccc;
    margin: 0 auto;
    & th{
        background-color:dimgray ;
        border:2px solid #ccc;
        text-align: center;
    }
    & td{
        border:2px solid gray;

        &:first-child{
            text-align: center;
        }   
        &:last-child{
            text-align: center;
        }
        & img{
            display: block;
            width: 30%;
            margin: 0 auto;
        }
    }
    & tr{
        background-color: #ccc;
        &:hover{
            background-color:#b0acac ;
        }
    }

}