.tit{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    & figure{
        border: 3px solid #696969;

        & img{
            display: block;
        }

        & figcaption{
            text-align: center;
            color: #fff;
            background-color: #696969;
        }

    }
    .btn{
        & button{
            width: 100%;
            height: 40px;
            margin: 2%;
            border: none;
            color: #000000;
            font-size: 1.2rem;
            font-weight: bold;
            border-radius: 5px;
        }

        & button:first-child{   
            background-color: #ff2400;
            &:hover{
                background-color: #d51e02;
            }
        }

        & button:last-child{
            background-color: #0ab64f;
            &:hover{
                background-color: #098e3e;
                }
            }
        }

}